.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  background-color: floralwhite;
  border: 1px solid grey;
  padding: 5px;
}

.blog div {
  padding-bottom: 5px;
}

.blogs {
  padding: 10px 0px 0px 0px;
}